asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.3
defusedxml==0.6.0
diff-match-patch==20200713
Django==3.1.2
django-bootstrap4==2.3.1
django-debug-toolbar==3.1.1
django-haystack==3.0
django-import-export==2.4.0
django-js-asset==1.2.2
django-polymorphic==3.0.0
django-stronghold==0.4.0
easy-thumbnails==2.7
et-xmlfile==1.0.1
isort==5.6.4
jdcal==1.4.1
lazy-object-proxy==1.4.3
MarkupPy==1.14
mccabe==0.6.1
mod-wsgi==4.7.1
mysqlclient==2.0.1
Pillow==8.0.0
pytz==2020.1
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
tablib==2.0.0
wrapt==1.12.1
