{% extends 'base.html' %}

{% block title %}关于{% endblock title %}

{% block body %}
    <span class="h2 d-flex justify-content-center justify-content-md-start">关于同济猫盟</span>
    <hr>
    <div class="container">
        <p>
            同济大学猫咪同盟成立于2012年9月，由爱猫的学生们组成，是目前同济大学最热门、最活跃、最有趣的学生社团之一。
            社员们在欢乐吸猫的同时也坚持着“科学理性救助、领养代替购买、绝育代替捕杀”的理念，致力于守护校内的猫猫们。
            社团的梦想是实现校园内“零”流浪猫。
        </p>
        <br>
        <p>同济猫盟的气氛轻松活跃,社团的活动都是让大家在课余时间自愿报名参加的。同济大学猫咪同盟全年365天欢迎新人加入。</p>
        <p>在微信公众号菜单中选择“联系猫盟”栏目，再点击“加入社团”，你就可以看到加入社团的方式啦。</p>
        <br>
        <p>目前同济大学猫咪同盟有三个主要的社交账号。这些账号都是社团干事在运营，每周都会上传精彩的原创内容。欢迎大家关注~</p>
        <ul>
            <li>微信公众号：同济猫盟</li>
            <li>新浪微博：同济大学猫咪同盟</li>
            <li>B站账号：同济大学猫咪同盟</li>
        </ul>
        </p>
    </div>
    <br><br>
    <span class="h2 d-flex justify-content-center justify-content-md-start">关于本站</span>
    <hr>
    <div class="container">
        <p>
            本站由同济大学猫咪同盟成员在课余时间基于 Django 框架开发，
            当前在 <a href="https://github.com">Github</a> 开源，欢迎前往提交 Issue 或提交 Pull Request。
            (主要开发者非信科专业，若代码质量欠佳请多指教)
        </p>
    </div>
{% endblock body %}