{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}编辑{% endblock title %}

{% block body %}
<div class="container">
    <span class="h2 d-flex justify-content-center justify-content-md-start">编辑</span>
    <hr>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <a role="button" class="btn btn-outline-dark" href="{% url 'campus:create_location' %}">
            添加活动位置
        </a>
        {% buttons %}
        <div class="d-flex justify-content-center justify-content-md-start">
            <button type="submit" class="btn btn-outline-dark">保存</button>
        </div>
        {% endbuttons %}
    </form>
</div>
{% endblock body %}