{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}登录{% endblock title %}

{% block body %}
<div class="container">
    <span class="h2 d-flex justify-content-center justify-content-md-start">登录</span>
    <hr>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <div class="d-flex justify-content-center justify-content-md-start">
            <button type="submit" class="btn btn-outline-dark">登录</button>
        </div>
        {% endbuttons %}
    </form>
</div>
{% endblock body %}